body {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    width: 90%;
    background-position: center;
    font-family: 'Lato', sans-serif;
}

.container {
    text-align: center;
    color: black;
}
  .text-center {
      color: blue;
  }

.header2 {
    text-align: center;
    color: black;
}

.purpleOpacity {
    background-color: rgba(32, 19, 76, 0.8);
}

.nobull {
    list-style-type: none;
}

p {
    text-align: center;
    color: black;
}


